body {
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.container {
    padding: 5% 1.5rem;
    width: 100%;
    max-width: 900px;
}

#slider {
    display: flex;
    flex-wrap: wrap;
}

.data-display {
    padding: 1rem 3rem 0 0;
    list-style: none;
}

.data-display li {
    display: flex;
    margin-bottom: 1rem;
}

.data-display li span {
    display: inline-block;
}

