body {
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.container {
    padding: 5% 1.5rem;
    width: 100%;
    max-width: 900px;
}

h1 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

#slider {
    display: flex;
    flex-wrap: wrap;
}

.data-display {
    padding: 1rem 3rem 0 0;
    list-style: none;
}

.data-display li {
    display: flex;
    margin-bottom: 1rem;
}

.data-display h2 {
    margin-bottom: 1rem;
}

.data-display li span {
    display: inline-block;
}

.data-display li span:first-child {
    border-radius: 5px;
    height: 20px;
    width: 20px;
}

.data-display li span:nth-child(2) {
    margin: 0 1rem;
}

.data-display li span:last-child {
    font-size: 1.25rem;
    font-weight: bold;
    min-width: 60px;
}