body {
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.container {
    padding: 5% 1.5rem;
    width: 100%;
    max-width: 900px;
}

#slider {
    display: flex;
    flex-wrap: wrap;
}

.sliders-names {
    padding: 1rem 2.5rem 0 0;
}